.logo {
    width: 10vw;
    height: 20vh;
}


/* Spinner Animation */

.spinner {
    margin-left: 25vw;
    border: 12px solid #e9ecef;
    border-radius: 50%;
    border-top: 12px solid #005194;
    border-bottom: 12px solid #005194;
    width: 120px;
    height: 120px;
    /* Browser: Safari */
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


/* Browser: Safari */

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
    0% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
    0% {
        transform: rotate(0deg);
    }
}


/* "sudoku table" Animation */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


/* Table cell styles */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: inline-block;
}

tr,
td {
    text-align: center;
    margin: 0%;
    border-spacing: 0px;
    padding: 0%;
}

.cellValue {
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
}


/* Body content styles */

#sudokuBoardContainer,
#contentArea {
    align-content: center;
    text-align: center;
}

#sudokuTable {
    display: inline-block;
}

.rulesArea {
    text-align: left;
}

.headerSection {
    background-color: aquamarine;
}

.titleSection {
    float: left;
}

.rulesSection {
    float: right;
}